/* General Website */
html, body {
    margin: 0;
    height: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

ul {
    padding: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* Header */
.heading {
    font-weight: 700;
    text-align: center;
}

/* CSS for Button Tabs */
/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #home { background-color: #DD602E; }
  #myList { background-color: #269916; }
  #contact { background-color:#1079C7; }
  #aboutMe { background-color: #D5AA6F; }

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* Main Content */
.content {
    flex: 1 0 auto;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: center;
}

.content a {
    text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* Index Page */
.search {
    margin-top: 50px;
    text-align: center;
}

#game-table {
    background: #134F3A;
    border-radius: 12.5px;
    color: blanchedalmond;
    padding: 2em;
    border: unset;
    height: 55%;
    width: 75%;
    margin: 20px auto;
}

.game-nav {
    padding-bottom: 1em;

}

.game-display-button {
    margin: 0.2em;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */


/* Footer */
.social-media {
    background-color: #DFDFDE;
    text-align: center;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item li {
   list-style-type: none;
   margin: 0 10px;
}

.social-item a {
    text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* List Page */
#content-list {
    display: flex;
    justify-content: center;
}

.dummyDiv {
    margin: 0 25px;
}

.reducedImage {
    height: 250px;
    width: 250px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* Contact Page */
.contactForm {
    width: 750px;
    height: 300px;
    padding: 25px;;
}

.textBox {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 750px;
}

.inputField {
    width: 750px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* About Page */
.introDiv {
    margin-bottom: 30px;
}

.hobbyDiv {
    margin: 25px 0;
    height: 160px;
    background: cornflowerblue;
}

.musicDiv {
    margin-top: 30px;
}

.musicDiv a {
    line-height: 30px;
}

.hobbies {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.hobby {
    padding: 10px;
    width: 250px;
    margin: 65px 20px;
    border-radius: 25px;
    background-color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

.hobby:hover {
    box-shadow: 3.5px 4.5px black ;
}

.linkColor {
    color: black;
}

.lineColor:hover {
    border-bottom: 2px solid black;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */


/* Media Queries Section */

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------------------------------MOBILE---------------------------------------------------------------- */

/* Index Page */
@media only screen and (min-width: 600px) {

}
/* List Page */
@media only screen and (min-width: 600px) {

}

/* Contact Page */
@media only screen and (min-width: 600px) {

}

/* About Page */
@media only screen and (min-width: 600px) {

}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------------------------------DESKTOP---------------------------------------------------------------- */

/* Index Page */
@media only screen and (min-width: 600px) {
    
}
/* List Page */
@media only screen and (min-width: 600px) {

}

/* Contact Page */
@media only screen and (min-width: 600px) {

}

/* About Page */
@media only screen and (min-width: 600px) {

}