/* General Website */
html, body {
    margin: 0;
    height: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
}

/* Header */
.heading {
    font-weight: 700;
    text-align: center;
    flex: 1 0 100%;
}

/* Main Content */
.content {
    margin-top: 1rem;
    text-align: center;
    flex: 1 0 100%;
}

/* .search-field { 

} */

/* Items Container */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Footer */
.social-media {
    background-color: salmon;
    flex: 1 0 auto;
    justify-content: flex-end;
    padding: 10px;
}

/* Footer Nav */
.social-nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
}


/* CSS for Button Tabs */

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #London {background-color:red;}
  #Paris {background-color:green;}
  #Tokyo {background-color:blue;}
  #Oslo {background-color:orange;}