body {
    margin: 0 auto;
}


.heading {
    background-color: ;
    margin-top: 1rem;
    font-weight: 700;
    text-align: center;
}

.search {
    margin-top: 1rem;
    text-align: center;
}

.search-results {
    margin-top: 1rem;
    text-align: center;
}

.social-media {
    margin-top: 1rem;
    text-align: center;
}