/* General Website */
html, body {
    margin: 0;
    height: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Header */
.heading {
    font-weight: 700;
    text-align: center;
}

/* Main Content */
.content {
    flex: 1 0 auto;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: center;
}

.content a {
    text-decoration: none;
}

/* Search */
.search {
    margin-top: 50px;
    text-align: center;
}

/* Footer */
.social-media {
    /* background-color: plum; */
    text-align: center;
}

/* Footer Items */
.social-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */


/* CSS for Button Tabs */
/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #home { background-color: #DD602E; }
  #myList { background-color: #269916; }
  #contact { background-color:#1079C7; }
  #aboutMe { background-color: #D5AA6F; }


/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */


/* List Page */
.dummyDiv {
    display: flex;
    width: fit-content;
    height: auto;
}


/* Contact Page */
.contactForm {
    width: 750px;
    height: 300px;
    text-align: left;
    padding: 25px;;
}

.textBox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formField {
    width: 735px;
}

/* About Page */
.introDiv {
    margin-bottom: 80px;
}

.hobbyDiv {
    margin: 50px 0;
}

.musicDiv {
    margin-top: 80px;
}

.musicDiv a {
    line-height: 30px;
}

.hobbies{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    list-style-type: none;
}

.hobby {
    padding: 20px;
    width: 250px;
    height: 20px;
    margin: 0 10px;
    border-radius: 25px;
    background-color: #D18675;
}