/* General Website */
html, body {
    margin: 0;
    height: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
}

/* Header */
.heading {
    font-weight: 700;
    text-align: center;
    flex: 1 0 100%;
}

/* Main Content */
.content {
    margin-top: 1rem;
    text-align: center;
    flex: 1 0 100%;
}

/* Search */
.search { 
    margin-top: 1rem;
    text-align: center;
    flex: 1 0 100%;
}

/* Footer */
.social-media {
    background-color: salmon;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Footer Items */
.social-nav-items {
    display: column;
    list-style-type: none;
}


/* CSS for Button Tabs */

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #home { background-color:red; }
  #myList { background-color:green; }
  #contact { background-color:blue; }
  #aboutMe { background-color:orange; }