/* General Website */
html, body {
    margin: 0;
    height: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Header */
.heading {
    flex: 1 0 auto;
    font-weight: 700;
    text-align: center;
}

/* Main Content */
.content {
    flex: 1 0 350px;
    margin-top: 1rem;
}

.content-title {
    text-align: center;
}

/* Search */
.search {
    margin-top: 1rem;
    text-align: center;
}

/* Footer */
.social-media {
    background-color: plum;
    text-align: center;
}

/* Footer Items */
.social-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */


/* CSS for Button Tabs */
/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #home { background-color: #DD602E; }
  #myList { background-color: #269916; }
  #contact { background-color:#1079C7; }
  #aboutMe { background-color: #D5AA6F; }


/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* About Page */

/* Contact Page */
.contactForm {
    border: 1px solid black;
    max-width: 500px;
    margin: auto;
}

/* List Page */
.dummyDiv {
    display: inline-block;
    border-radius: 50%;
    border-color: cadetblue;
    border: dotted;
}